[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python3-saml = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiohttp = "*"
python-multipart = "*"
sqlalchemy = "*"
databases = {extras = ["asyncpg"], version = "*"}
alembic = "*"
passlib = {extras = ["argon2"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
itsdangerous = "*"
ldap3 = "*"

[dev-packages]
mypy = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"
